<header>
    <div class="title">
        <h1>
            <a href="{{ url_for('index') }}">
                <span style="color: rgb(153, 31, 0)">Aeo</span><span style="color: rgb(153, 92, 0)">n of</span><span style="color: rgb(153, 153, 0)"> the</span><span style="color: rgb(31, 122, 31)"> New</span><span style="color: rgb(0, 92, 153)"> Rep</span><span style="color: rgb(31, 31, 122)">ubl</span><span style="color: rgb(77, 0, 153)">ic.</span>
            </a>
        </h1>
    </div>
    <div class="sub-title">
        <i>Create together. Grow together. Achieve as one.</i>
    </div>
    {% include "partials/navigation.html" %}
</header>
