html, body {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

header {
    padding: 1em;
    background:-webkit-repeating-radial-gradient(circle, rgb(255, 255, 255), rgb(255, 255, 255) 10%, rgb(245, 245, 245) 10%, rgb(245, 245, 245) 20%); 
    background: repeating-radial-gradient(circle, rgb(255, 255, 255), rgb(255, 255, 255) 10%, rgb(245, 245, 245) 10%, rgb(245, 245, 245) 20%);
    background-size: 100% 100%;
}

header div.title {
    font-size: 1.5em;
}

header div.title h1 a {
    text-decoration: none;
}

header div.title h1 a:hover {
    text-decoration: underline;
}

header div.sub-title {
    font-size: 1.25em;
}

nav ul {
    padding: 0;
    list-style-type: none;
    line-height: 2em;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a:visited {
    color: rgb(0, 0, 0);
}

main.container {
    font-size: 1.125em;
}

main.container article {
    color: rgb(255, 255, 255);
    padding: 1em;
    line-height: 2em;
}

main.container article#about {
    color: rgb(0, 0, 0);
    background-color: rgba(153, 31, 0, 0.2);
}

main.container article#register {
    background-color: rgba(153, 31, 0, 0.6);
}

main.container article#contact {
    background-color: rgba(153, 31, 0, 1);
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 1em;
}

footer ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}
