html, body {
    font-family: "Lucida Console", Monaco, monospace;
    margin: 0;
    padding: 0;
}

header {
    padding: 1em;
    background:-webkit-repeating-radial-gradient(circle, rgb(255, 255, 255), rgb(255, 255, 255) 10%, rgb(245, 245, 245) 10%, rgb(245, 245, 245) 20%); 
    background: repeating-radial-gradient(circle, rgb(255, 255, 255), rgb(255, 255, 255) 10%, rgb(245, 245, 245) 10%, rgb(245, 245, 245) 20%);
    background-size: 100% 100%;
}

nav ul {
    padding: 0;
    list-style-type: none;
    line-height: 2em;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding-left: 1em;
}

nav ul li a:hover {
    background-color: rgb(200, 200, 200);
}

nav ul li a:visited {
    color: rgb(0, 0, 0);
}

main.container {
    color: rgb(255, 255, 255);
    background-color: rgb(153, 31, 0);
    padding: 1em;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 1em;
}
