<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="https://aotnr.com{{ request.path }}">
        <link type="text/css" href="{{ url_for('static', filename='base.css') }}" rel="stylesheet">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
        <title>Aeon of the New Republic</title>
    </head>
    <body>
        {% include "partials/header.html" %}
        <main class="container">
            {% block content %}
                <p>Nothing here.</p>
            {% endblock content %}
        </main>
        {% include "partials/footer.html" %}
    </body>
</html>
