{% extends "base.html" %}

{% block content %}
    <article id="overview">
        <h2>Overview</h2>
        <p>
            <i>Aeon of the New Republic</i> is a web-based CLI tool that allows users to create a character, much like one would when playing a Role-Playing game, share updates about their achievements for the day and connect with other user groups to form accountability and "mastermind" circles.
        </p>
        <p>
            A full feature list and documentation can be found <a href="https://github.com/herbeeg/aotnr-dash">here &raquo;</a>.
        </p>
        <p>
            All of our software is free and open-source.
        </p>
    </article>
    <article id="about">
        <h2>Why use our tool?</h2>
        <h3>Create</h3>
        <p>
            Make a profile, join a <i>Republic</i> and develop your creative potential with your peers.
        </p>
        <h3>Grow</h3>
        <p>
            Work together, share your advancements and level up your creative abilities.
        </p>
        <h3>Achieve</h3>
        <p>
            Celebrate completion of creative works, prove to yourself that you can do whatever you set your mind to and show others that they can do the same.
        </p>
        <h3>Repeat</h3>
        <p>
            Why stop there? Use the momentum you already have to start a new project or plan improvements to what you've already created. 
        </p>
        <p>
            Don't forget to take time to reflect first, with some well deserved time outside of your creative venture or a full-blown retrospective write up!
        </p>
    </article>
    <article id="register">
        <h2>Interested in joining?</h2>
        <p>
            Currently, the <i>AotNR</i> community is accessible on an invite-only basis. A unique, limited-time registration URL will be sent to invitees to gather information for a new account on the <i>AotNR</i> platform.
        </p>
        <p>
            If you know someone who is already part of the <i>AotNR</i> community or would like more information and access, please get in touch via the links at the bottom of the page.
        </p>
        <p>
            Once the <i>AotNR</i> community is established, registrations will be made open to all - stay tuned!
        </p>
    </article>
    <article id="contact">
        <h2>Want to get in touch?</h2>
        <p>
            Many channels are available for tailored help, questions and support depending on the request.
        </p>
        <h3>I want access to the <i>AotNR</i> platform</h3>
        <p>
            Email: <a href="mailto:jon@aotnr.com">jon@aotnr.com &raquo;</a>
        </p>
        <h3>I have a feature request or bug to report</h3>
        <p>
            Pull request // Issue: <a href="https://github.com/herbeeg/aotnr-dash">https://github.com/herbeeg/aotnr-dash &raquo;</a>
        </p>
        <h3>I want to stay updated on developments and new features</h3>
        <p>
            Social: <a href="https://twitter.com">https://twitter.com &raquo;</a>
        </p>
    </article>
{% endblock content %}
