{% extends "base.html" %}

{% block content %}
    <article id="about">
        <h2>Why use our tool?</h2>
        <h3>Create</h3>
        <p>
            Make a profile, join a <i>Republic</i> and develop your creative potential with your peers.
        </p>
        <h3>Grow</h3>
        <p>
            Work together, share your advancements and level up your creative abilities 
        </p>
        <h3>Achieve</h3>
        <h3>Repeat</h3>
        <p>
            Why stop there? Use the momentum you already have to start a new project or plan improvements to what you've already created. 
        </p>
        <p>
            Don't forget to take time to reflect first, with some well deserved time outside of your creative venture or a full-blown retrospective write up!
        </p>
    </article>
    <article id="register">
        <h2>Interested in joining?</h2>
        <p>
            
        </p>
    </article>
    <article id="contact">
        <h2>Want to get in touch?</h2>
        <p>
            
        </p>
    </article>
{% endblock content %}
